{% extends 'base.html' %}

{% block content %}
<h1>Форма для входа</h1>
<div class="container">
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Логин</label>
      <input type="text" id="login" name="login" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Пароль</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <input type="checkbox" id="user_remember" name="user_remember" />
      <label class="form-label" for="user_remember"> Запомнить меня </label>
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</div>
{% endblock %}
